<header class="w-full">
  <div class="bg-bg-darkgreen">
    <div class="page-container flex items-center justify-between text-white">
      <div>
        <p>Klarabergsviadukten 90, 111 64 Stockholm</p>
      </div>
      
      <div class="flex items-center">
        <a href="facebook.com" target="_blank" rel="noopener noreferrer">
          <img src="../images/Facebook.svg" alt="Facebook">
        </a>

        <a href="twitter.com" target="_blank" rel="noopener noreferrer">
          <img src="../images/Twitter.svg" alt="Twitter">
        </a>

        <a href="linkedIn.com" target="_blank" rel="noopener noreferrer">
          <img src="../images/LinkedIn.svg" alt="LinkedIn">
        </a>
      </div>
    </div>
  </div>
  
  <div class="bg-white space-between">
    <div class="page-container flex items-center justify-between py-2">
      <div class="flex items-center gap-2">
        <img src="/images/Symbol.svg" alt="Onatrix Logo">
        <h3>Onatrix</h3>
      </div>
      
      <nav>
        <ul class="flex items-center gap-10">
          <li><a href="/index.html">Home</a></li>
          <li><a href="/pages/AboutPage.html">About</a></li>
          <li><a href="/pages/ServicesPage.html">Services</a></li>
          <li><a href="/pages/ContactPage.html">Contact</a></li>
        </ul>
      </nav>

      <div>
        <img src="/images/Search.svg" alt="Search">
      </div>
      
    </div>
  </div>
</header>