<section class="relative w-full">
  <div>
    <img class="w-full max-h-[1052px] object-cover" src="/images/Hero-img.svg" alt="Stor bild på kvinna i kontorsmiljö">
    <div class="page-container absolute inset-0 pt-24">
      <h1>We bring<br>success to you</h1>
      <p class="pt-8 text-light-grey">Lorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do<br/> eiusmod tempor incididunt ut labore et dolore magna aliqua.<br/> Ut enim ad minim</p>
      <div class="pt-6">
        <button class="btn btn-primary">Contact us</button>
      </div>
    </div>
  </div>
</section>