<section class="bg-bg-lightgrey">
  <div class="page-container flex pt-6">
    <div class="relative flex items-end">
      <img
        src="/images/DotBG.svg"
        alt=""
        class="absolute bottom-0 left-0 z-0"/>
      <img
        src="/images/HappyMan.svg"
        alt="Smiling man."
        class="relative bottom-0 z-10"/>
    </div>

    <div class="pl-48 pt-24 pb-24">
      <h2>Let us know about<br/> your next project</h2>
      <div class="pt-4">
        <p>Office location</p>
        <p>Klarabergsviadukten 90, 111 52 Stockholm</p>
      </div>
      <div class="pt-4">
        <p>Phone number</p>
        <p>+46 8 123 456 75</p>
      </div>
      <div class="pt-4">
        <p>E-mail address</p>
        <p>sales@onatrix.com</p>
      </div>
    </div>
  </div>
</section>
